<!--
	Ha a scan attribútum értékét "true"-ra módosítjuk, akkor a Logback
	percenként ellenőrzi, hogy változott-e a konfigurációs állomány.
	Változás esetén megfelelően igazítja hozzá a beállításokat. Az állomány
	így akár futásidőben is módosítható.
-->
<configuration scan="false" debug="false">


	<!--
		Az állományba csak adott szintű vagy annál magasabb szintű
		eseményeket naplózunk (a jelenlegi beállítás esetén ERROR és
		WARN szintű eseményeket)
	-->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>messages.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>



	<!--
		A gyökér logger mindent az állományokba naplóz
	-->
	<root level="ALL">
		<appender-ref ref="FILE"/>

	</root>


</configuration>
